/******* TOP PART*****/

.tableAbove {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.8rem;
}

/* Number Of entries selector */

.numberOfEntries--label {
    position: absolute;
    left: -10000px;
}

.entriesSelector--select {
    border: 1px solid rgba(67, 72, 80, 0.3);
    font-size: 14px;
    line-height: 16px;
    height: 28px;
    padding: 0 9px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 300;
    font-size: 0.75rem;
}

.entriesSelector--select::after {
    color: blue;
}

.entriesSelector--select:focus {
    outline: 1px solid #cbec25;
}

/* Search employee div */

.searchEmployee {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.searchEmployee--input {
    border: 1px solid rgba(67, 72, 80, 0.3);
    font-size: 14px;
    line-height: 16px;
    height: 28px;
    padding: 9px;
    width: 100%;
    border-radius: 6px;
}

.searchEmployee--input::placeholder {
    font-weight: 200;
    font-size: 00.75rem;
}
.searchEmployee--input:focus {
    outline: 1px solid #cbec25;
}

/* Entries selector ***/

/***************TABLE*******************************************/




.employeeTableZone {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* TABLE*/

.tableTitle {
    width: 100%;
    padding: 0;
}

.employeeTable {
    border-collapse: separate;
    margin: auto;
}


@media screen and (max-width: 920px) {

    .employeeTableZone {
        width :98vw;
    }
    .employeeTable {
        width: 920px;
    }
    .employeeTableScrollContainer {
        width: 98vw;
        overflow-x: scroll;
        
    }

   
}

.employeeTable td {
    padding: 0.2rem 0.4rem;
}

.employeeTable tbody tr {
    background-color: #ffffff;
}

.employeeTable td {
    font-weight: 400;
    font-size: 0.85rem;
    border-bottom: 1px solid rgba(67, 72, 80, 0.136);
    padding: 0.6rem 0.4rem;
}

.employeeTable th {
    font-weight: 300;
    font-size: 1rem;
    padding: 0.3rem 0.4rem;
    text-align: left;
}

.thText {
    margin-right: 0.6rem;
}

.sortNoneIcon {
    color: rgba(128, 128, 128, 0.4);
}

.thIcon {
    cursor: pointer;
}

.sortUpIcon {
    color: #6e840f;
}

.sortDownIcon {
    color: #6e840f;
}

.employeeTable tr {
    font-size: 0.9rem;
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.40) */
}

.tableAbove,
.tableBelow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.sortedItem {
    background-color: #cbec257b;
}

/************BELOW PART ***********/

.tablePaginatorDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tableReminder {
    font-size: 0.8rem;
}

.tablePaginatorDiv {
    font-size: 0.8rem;
}

.paginatorTab {
    background-color: #cbec25;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.paginatorTab:hover {
    background-color: #cbec259e;
}
