/* TOP PART*/

.tableAbove {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Number Of entries selector */

.numberOfEntries--label {
    position: absolute;
    left: -10000px;
}

/* Search employee div */

.searchEmployee {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/***************TABLE*******************************************/
.employeeTableZone {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*BELOW PART */

.tablePaginatorDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TABLE*/

.tableTitle {
    width: 100%;
    padding: 0;
}

.employeeTable {
    border-collapse: separate;
    border-spacing: 0 0.6rem;
    margin: auto;
}


.employeeTable td {
    padding: 0.2rem 0.4rem;
}

.employeeTable tbody tr {
    background-color: #ffffff;
    
   /* // box-shadow: 0px 1px 1px 1px #cbec259e; */
    
}

.employeeTable td {
    font-size: 400;
   border-bottom: 1px solid rgba(67, 72, 80, 0.136);
   padding: 0rem 0.4rem 0.6rem;
}

.employeeTable th {
    font-weight: 300;
    font-size: 1rem;
    padding: 0.3rem 0.4rem;
    text-align: left;
}

.thText {
    margin-right: 0.6rem;
}

.sortNoneIcon {
    color: rgba(128, 128, 128, 0.4);
}

.sortUpIcon {
    color: #6e840f;
}

.sortDownIcon {
    color: #6e840f;
}

.employeeTable tr {
    font-size: 0.9rem;
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.40) */
}

.tableAbove,
.tableBelow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tableReminder {
    font-size: 0.8rem;
}

.tablePaginatorDiv {
    font-size: 0.8rem;
}

.paginatorTab {
    background-color: #cbec25;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.paginatorTab:hover {
    background-color: #cbec259e;
}
