.mainHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.3rem 1rem;
    box-shadow: 1px 1px 2px 2px var(--midgrey);
}

.mainHeader--logoAndTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.mainHeader--logo {
    max-height: 3rem;
    max-width: 3rem;
}

.mainHeader--title {
    color: rgb(164, 179, 123);
    font-size: 0.7rem;
}

.mainHeader--seeUserIcon {
    height: 2.2rem;
    width: 2.2rem;
    color: rgb(164, 179, 123);
    border-radius: 100%;
    padding-right: 0.5rem;
}
